In [90]:
                                                             #Python Day-2

In [91]:
#Code in single cell

In [92]:
firstname= 'Sindhu'
print(firstname)

Sindhu

In [93]:
#In different cells

In [94]:
firstname = 'Sindhu'

In [95]:
print(firstname)

Sindhu

In [96]:
a='2'
b='3'
c="a+b"
print (c)

a+b

In [97]:
#If you add quotes then it will be considered as a strings and it will combine them istead of adding

In [98]:
a='2'
b='3'
c= a+b
print (c)

23

In [99]:
#for adding numbers you should not use quotes("2"/'2')

In [100]:
a=2
b= 3
c= a + b
print (c)

5

In [101]:
                                                       #Variable Declaration

In [118]:
#Rule-1
#If a variable has space in between them then it leads to error

In [117]:
first name = 'Sindhu'
print (first name)

SyntaxError: invalid syntax (3560063226.py, line 1)

In [ ]:
#as there is space between the first and name it leaded to the error

In [116]:
firstname = 'Sindhu'
print (firstname)

Sindhu

In [ ]:
#So there should be no space in between the variable

In [ ]:
#Rule-2
A variable should not start with a number

In [115]:
1name = 'Sindhu'
print(1name)

SyntaxError: invalid decimal literal (774455680.py, line 1)

In [ ]:
#As the variable started with a number, error poped

In [114]:
name1 = 'Sindhu'
print(name1)

Sindhu

In [ ]:
#A variable can end with a number

In [113]:
name1first = 'Sindhu'
print(name1first)

Sindhu

In [ ]:
#A variable can also contain a number in between

In [112]:
First1Name= 'Sindhu'
print(First1Name)

Sindhu

In [ ]:
#Rule-3
A varible should not contain any special characters(@,#,%,$,&,*)

In [110]:
name@ = 'Sindhu'
print(name@)

SyntaxError: invalid syntax (1772040614.py, line 1)

In [111]:
# Due to special character '@' we got the error

In [ ]:
                                                #Data types***

In [ ]:
#We have 5 data types in the Python programming language

Strings---> str

In [ ]:
Numbers--->  integers--->int& float (decimal)--> 0.1,0.2

In [ ]:
List---> list

In [ ]:
Tuples---> tuple

In [ ]:
Dictionaries---> dict

In [ ]:
***Python is a case sensitive programming language***

In [ ]:
#Classification of Data types

In [ ]:
there are two types, they are

In [ ]:
1- Mutable---- able to edit
2- Immutable---- not able to edit

In [ ]:
#Intro to String datatype

In [ ]:
>A string is nothing but a series of characters declared in a quotes.

In [ ]:
>It is classified into #immutable data type

In [ ]:
> String should be defined in single or double qoutes

In [ ]:
#ex:

In [108]:
name= 'Sindhu'
print(name)

Sindhu

In [109]:
#Sindhu is the string here

In [ ]:
#Intro to string methods

In [ ]:
#type method - determines the type of data

In [107]:
type(name)

str

In [106]:
type(2)

int

In [ ]:
#title method--- changes name 1st letters to captial lettters

In [ ]:
fullname= 'sindhu komati'

In [105]:
print(fullname.title())

Sindhu Komati

In [ ]:
#upper method---upper case letters

In [103]:
print(fullname.upper())

SINDHU KOMATI

In [ ]:
#lower method---lower case or small letters

In [104]:
print(fullname.lower())

sindhu komati